Congratulations {name}! Welcome to Kharagpur Open Source Society!

Hi {name},<br><br>

<b>Congratulations and Welcome to KOSS!</b><br><br>

We're sure that you've been waiting for the results of the selections. We really appreciate you giving time to our interview sessions and completing the given task on time, especially with endsems approaching.<br><br>

We had a great time with you in our selection process. We received over <b>{number_of_applicants} applications</b> and the selections this year have by far been the toughest we have experienced, even after stretching the interview and judging process for many days.<br><br>

Your answers and experience caught our attention. In the interview, we found that your vision was similar to ours and thus you will be a perfect addition to our team. We know we will enjoy working with you and we'll have to work hard to keep up with your enthusiasm!<br><br>

We cannot express how thrilled we are through this email! We would love to meet you as soon as we can. <i>You will receive an email soon with the details of induction sessions which will introduce you to everybody at KOSS.</i><br><br>

<i>As a part of your onboarding process, we'll add you to the KOSS Slack workspace which we use for discussion and planning.</i> <b>In case you want to use a different email to join the workspace, do let us know and we'll send an invite there instead.</b> Also, check out different channels and explore around to make sure you're comfortable with using Slack.<br><br>

Cheers!<br><br>
