KOSS Selections Interview - Round 2

Hello,<br>

Your scheduled <b>Round - 2</b> interview slot is on <slot_time>.
Meet link: <a href="{lobby_link}">{lobby_link}</a>  (<i>Join this lobby in the above-mentioned slot</i> and <b>mention your name in the chat box</b>. <i>You will be called for a personal interview once a panel becomes free.</i>)

<b>Kindly join during the slot mentioned</b> above or reply to this mail in case of any issues with the timings. <i>Due to a lot of candidates and busy slots, rescheduling the meeting can be difficult for us, so we request you to stick with your slots and ask for a reschedule only if absolutely necessary.</i>
