---<br/>
Regards,<br/>

<p align="left">
    <table style="border: medium; border-collapse: collapse; width: 30rem;">
        <tbody>
            <tr>
                <td style="border-right:solid #000000 1pt; "><span style="font-size:11pt;"><span style="border:none;"><img src="https://i.postimg.cc/Gmq7vwXs/koss-logo-noglow-bg-dark-rounded.png" width="100" height="100" style="margin: 0 auto; display: block; padding: 5% 0%;"></span></span></td>
                <td style="border-left:solid #000000 1pt; padding-left: 5%;"><strong><span style="color:#00689f;font-size:14pt;">Kharagpur Open Source Society</span></strong>
                    <p><span style="color:#222222;font-size:10pt;">Indian Institute of Technology, Kharagpur</span></p>
                    <p><a href="https://kossiitkgp.org/"><u><span style="color:#1155cc;font-size:8pt;">Website</span></u></a><span style="color:#222222;font-size:10pt;">&nbsp;|&nbsp;</span><a href="https://github.com/kossiitkgp"><u><span style="color:#1155cc;font-size:8pt;">Github</span></u></a><span style="color:#222222;font-size:8pt;">&nbsp;|&nbsp;</span><a href="https://facebook.com/kossiitkgp"><u><span style="color:#1155cc;font-size:8pt;">Facebook</span></u></a><span style="color:#222222;font-size:8pt;">&nbsp;|&nbsp;</span><a href="https://twitter.com/kossiitkgp"><u><span style="color:#1155cc;font-size:8pt;">Twitter</span></u></a></p>
                </td>
            </tr>
        </tbody>
    </table>
</>
