Invitation - KWoC Introductory Seminar {year}

<div style="background-color: #1e212c; font-size: 14px; font-family: 'Tahomo', 'Poppins', 'Verdana', 'Arial',sans-serif; color: white;">
    <div
        style="background-color: hsl(225, 19%, 8%); color: white; max-width: 600px; margin-inline: auto; margin: 1rem auto;">
        
        <!-- Header Image -->
        <div>
           <img style="display: block; width: 100%;" src="https://0x0.st/Ht0n.webp" alt="Kharagpur Winter of Code"/>
        </div>

        <!-- Main Body -->
        <div style="padding: 2rem; color: #81c6e4; background-color: #010b1a;">
            <p style="font-size: 2rem; margin: 0; margin-bottom: 0.75rem; text-align: center;"><b>Hello!</b></p>
            
            <p style="margin: 0; margin-bottom: 1rem;">Kharagpur Open Source Society is thrilled to invite you to the 9th edition of the Kharagpur Winter of Code (KWoC) Introductory Seminar.</p>

            <p style="margin-bottom: 1rem;">KWoC is a 5-week online program that helps students learn about open-source software development and contribute to real-world projects. It's the perfect opportunity to dive headfirst into the captivating world of open-source and prepare for future endeavours like Google Summer of Code.</p>

            <p style="margin-bottom: 1rem;">This seminar will provide an overview of KWoC, including the program benefits, eligibility criteria, and project selection process. You will also have the opportunity to meet and interact with the KOSS team and learn more about their experiences in the open-source community.</p>

            <p style="margin-bottom: 1rem;">So, gear up for the KWoC Introductory Seminar!</p>
            <p style="margin: 0;">Date: <b>November 11, Saturday</b></p>
            <p style="margin: 0;">Time:<b> 4 pm</b></p>
            <p style="margin:0;margin-bottom: 1rem;">Meet Link: <a style="color: #ddd;" href="https://meet.google.com/ppk-shhy-hrz">https://meet.google.com/ppk-shhy-hrz</a></p>

            <p style="margin-bottom: 1rem;">Fill out this google form: <a style="color: #ddd;" href="https://forms.gle/ZVx9sBe9AKe1jZoY6">https://forms.gle/ZVx9sBe9AKe1jZoY6</a><br/> or write an email to <a style="color: #ddd;" href="mailto:contact@kossiitkgp.org">contact@kossiitkgp.org</a> for any queries.</p>

            <p style="margin: 0; margin-bottom: 0;">Join the KWoC Offical Communication Platforms!</p>
            <ul style="margin: 0; margin-bottom: 1rem;">
                <li>KWoC Slack: <a  style="color: #ddd;" href="https://kwoc-koss.slack.com/ssb/redirect">https://kwoc-koss.slack.com/ssb/redirect</a></li>
                <li>KWoC Discord: <a style="color: #ddd;" href="https://discord.gg/vd52kqC77J">https://discord.gg/vd52kqC77J</a></li>
            </ul>
            <p>Stay tuned to our social media handles for further updates: <a style="color: #ddd;" href="https://linktr.ee/kossiitkgp">https://linktr.ee/kossiitkgp</a></p>

            <p style="margin: 1rem 0; color: #6fc4e9;">Regards,<br>
                <b>Kharagpur Open Source Society</b>
                <br/>
                <b>Indian Institute of Technology, Kharagpur</b>
            </p>
        </div>

        <!-- Socials -->
        <div style="width: 100%; text-align: center; padding: 1rem; box-sizing: border-box;">
            <a target="_blank" href="https://kwoc-koss.slack.com"><img src="https://0x0.st/HtUO.png" alt="" style="max-width: 25px; margin: 0 16px; margin-left: 0; clear: both;"></a>
            <a target="_blank" href="https://www.facebook.com/kossiitkgp"><img src="https://0x0.st/HtU_.png" alt="" style="max-width: 25px; margin: 0 16px; clear: both;"></a>
            <a target="_blank" href="https://www.instagram.com/kossiitkgp"><img src=" https://0x0.st/HtUf.png" alt="" style="max-width: 25px; margin: 0 16px; clear: both;"></a>
            <a target="_blank" href="https://twitter.com/kossiitkgp"><img src="https://0x0.st/HtU9.png" alt="" style="max-width: 25px; margin: 0 16px; clear: both;"></a>
            <a target="_blank" href="https://www.linkedin.com/company/kharagpur-open-source-society/"><img src="https://0x0.st/HtUW.png" alt="" style="max-width: 25px; margin: 0 16px; margin-right: 0; clear: both;"></a>
          </div>     
    </div>
</div>