<p>Congratulations! on successfully clearing your end evaluations.</p>

<p style="margin-bottom: 1rem;">As we approach the conclusion of Kharagpur Winter of Code 2023, we would like to remind you about the report submission and the corresponding guidelines to be followed.</p>
<p style="margin-bottom: 1rem;">This report provides an overview of your contributions throughout the 5-week period and is an important component of our evaluation.</p>
<p style="margin-bottom: 1rem;">The report can be as descriptive as you want but must include the following points:</p>
<ul>
    <li>List of projects you worked on.</li>
    <li>List of pull requests you have created, along with links to the PRs.</li>
    <li>A concise yet informative summary of your work and your learnings.</li>
</ul>
    <p style="margin-bottom: 1rem;">You can publish this in a blog-like format on any platform you choose, like <a style="color: #DCF2F1" href="http://medium.com/">Medium</a> or <a style="color: #DCF2F1" href="http://gist.github.com/">Github Gist</a> and be sure to submit the link to your report through the report submission form in the student dashboard.</p>
    <p>Feel free to look for inspiration from the previous testimonials present on the landing page.</p>
    <p>Report Submission Link would be open soon on the <a style="color: #DCF2F1" href="https://kwoc.kossiitkgp.org/dashboard/student">student dashboard</a>.</p>
    <p>The deadline for submitting your report is January 15th.</p>
    <p><strong>Failing to submit the report by this date will result in a failed participation.</strong></p>  