<div style="background-color: #1e212c; font-size: 14px; font-family: 'Tahomo', 'Poppins', 'Verdana', 'Arial',sans-serif; color: white;">
    <div
        style="background-color: hsl(225, 19%, 8%); color: white; max-width: 600px; margin-inline: auto; margin: 1rem auto;">
        
        <!-- Header Image -->
        <div>
           <img style="display: block; width: 100%;" src="../images/Kharagpur Winter of Code.jpg" alt="Kharagpur Winter of Code"/>
        </div>

        <!-- Main Body -->
        <div style="padding: 2rem; color: #f9f9f9; background-color: #000000;">
          <!--Append HTML Formatted Mail Content Here-->
          <!-- *** -->

          <p style="margin: 1rem 0; color: #cde6fc">
            Regards,<br />
            <b>Kharagpur Open Source Society</b>
            <br />
            <b>Indian Institute of Technology, Kharagpur</b>
          </p>
        </div>

        <!-- Socials -->
        <div style="width: 100%; text-align: center; padding: 1rem; box-sizing: border-box;">
            <a target="_blank" href="https://kwoc-koss.slack.com"><img src="../images/icons8-slack-60.png" alt="" style="max-width: 25px; margin: 0 16px; margin-left: 0; clear: both;"></a>
            <a target="_blank" href="https://www.facebook.com/kossiitkgp"><img src="../images/icons8-facebook-60.png" alt="" style="max-width: 25px; margin: 0 16px; clear: both;"></a>
            <a target="_blank" href="https://www.instagram.com/kossiitkgp"><img src="../images/icons8-instagram-60.png" alt="" style="max-width: 25px; margin: 0 16px; clear: both;"></a>
            <a target="_blank" href="https://twitter.com/kossiitkgp"><img src="../images/icons8-twitter-60.png" alt="" style="max-width: 25px; margin: 0 16px; clear: both;"></a>
            <a target="_blank" href="https://www.linkedin.com/company/kharagpur-open-source-society/"><img src="../images/icons8-linkedin-60.png" alt="" style="max-width: 25px; margin: 0 16px; margin-right: 0; clear: both;"></a>
          </div>     
    </div>
</div>