Urgent: Action Needed - Mentor Inactivity at Kharagpur Winter of Code {year}

<p style="margin-bottom: 1rem;">Dear {name},</p>

<p style="margin-bottom: 1rem;">We are writing to express our concern regarding your recent inactivity as a mentor for the <a style="color: #ddd" href="{project_link}">{project_name}</a> project. We understand that unforeseen circumstances can arise, but your absence has unfortunately impacted the project's progress and affected the student's learning experience.</p>

<p style="margin-bottom: 1rem;">Therefore, we kindly request your immediate attention to the following:
    <li>Please provide an explanation for your recent inactivity and an update on your availability for the remainder of the KWOC {year}.</li>
    <li>Your plan for re-engaging with the student and ensuring their progress on the project.</li>
    <li>If you are unable to continue as the mentor due to unforeseen circumstances, please inform us immediately.</li>
</p>

<p style="margin-bottom: 1rem;">We look forward to your prompt response and a positive resolution to this matter. Should you have any questions or require any assistance, please do not hesitate to reach out to us.</p>
