Congratulations on Successfully Mentoring Kharagpur Winter of Code {year}!

<p style="margin-bottom: 1rem;">Dear Mentor,</p>

<p style="margin-bottom: 1rem;">We're thrilled to inform you that you have successfully completed your role as a mentor in the Kharagpur Winter of Code {year}. Your dedication and guidance have been instrumental in the success of the program.</p>

<p style="margin-bottom: 1rem;">Your commitment and support during this mentoring phase have not gone unnoticed. The journey was challenging, and your hard work has truly made a difference in the growth and development of the participants.</p>

<p style="margin-bottom: 1rem;">Please find your certificate here: <a style="color: #ddd;" href="https://github.com/kossiitkgp/public-files/tree/master/KWoC/{year}-Certificates/Mentor/{username}.pdf">KWoC Certificate</a></p>

<p style="margin-bottom: 1rem;">We eagerly look forward to your continued participation as a mentor in KWoC next year!</p>