Project Approval for Kharagpur Winter of Code {year}

<p style="margin-bottom: 1rem;">Dear {name},</p>

<p style="margin-bottom: 1rem;">Congratulations! We are pleased to inform you that your project proposal, <a style="color: #ddd" href="{project_link}">{project_name}</a>, for Kharagpur Winter of Code {year} has been approved. As you know, this means student participants will now be able to <a style="color: #ddd;" href="https://kwoc.kossiitkgp.org/projects">view</a> your approved proposal and select it to work on if interested.</p>

<p style="margin-bottom: 1rem;">Once the coding period starts, students will be able to contribute to your project. As the designated mentor, you will then serve as their guide over the course of the program, providing direction, feedback, and support as needed. For full program details and expectations around mentoring students, please checkout the <a style="color: #ddd" href="{mentor_manual_link}">KWOC {year} Mentor Manual</a>.</p>

<p style="margin-bottom: 1rem;">We greatly appreciate experienced coders like you volunteering to invest time mentoring newcomers to positively hone their skills. Please confirm you understand the student guidance aspect as we look forward to your involvement. Let us know if any other questions!</p>
