Project Update for Kharagpur Winter of Code 2024

<p style="margin-bottom: 1rem;">Dear {name},</p>

<p style="margin-bottom: 1rem;">Thank you for submitting your project proposal, <a style="color: #ddd" href="{project_link}">{project_name}</a>, for Kharagpur Winter of Code 2024. After review by our panel, we regret to inform you that we are unable to accept your project this year for the following reason(s):</p>

<p style="padding: 1rem;">- {rejection_reason}</p>

<p style="margin-bottom: 1rem;">We are happy to re-review revised project submissions even after providing initial rejection feedback. Simply reply to this mail highlighting the changes you have made to fix the identified problems. This gives useful closure for you as an applicant as well.</p>

<p style="margin-bottom: 1rem;">Looking forward to seeing an improved version of your interesting project idea! Let us know if you need any other clarification or guidance along the way.</p>