KWoC {year} Registrations has begun!

<p style="margin-bottom: 1rem;">Dear {name},</p>

<p style="margin-bottom: 1rem;">
    Buckle up for your next amazing development journey as KOSS unveils KWoC {year}. 
    As a past participant of KWoC, we are reaching out to you with great excitement and enthusiasm to invite you to join this year's edition of Kharagpur Winter of Code {year} an incredible opportunity to deepen your involvement in open source collaboration and take your programming skills to new heights.
</p>

<p style="margin-bottom: 1rem;">
    <h3>Why Join KWoC {year}?</h3>
    <ol>
        <li>
            <p>Explore the World of Open Source:</p>
            <ul>
                <li>Dive into the heart of open-source development and work on real-world projects.</li>
                <li>Collaborate with a diverse and welcoming community, fostering a spirit of shared learning.</li>
            </ul>
        </li>
        <li>
            <p>Master Git and GitHub:</p>
            <ul>
                <li>Hone your version control skills with hands-on experience using Git and GitHub.</li>
                <li>Gain proficiency in tools crucial for modern software development and collaboration.</li>
            </ul>
        </li>
        <li>
            <p>Guided Contributions with Mentors:</p>
            <ul>
                <li>Benefit from personalized guidance and mentorship to make meaningful contributions.</li>
                <li>Learn from experienced mentors who are passionate about helping you succeed.</li>
            </ul>
        </li>
        <li>
            <p>Build a Stunning Portfolio:</p>
            <ul>
                <li>Showcase your newly acquired skills and contributions to open source projects.</li>
                <li>Impress future employers and collaborators with a portfolio that reflects your talents.</li>
            </ul>
        </li>
    </ol>
</p>

<p style="margin-bottom: 1rem;">
    <h3>How to Join?</h3>
    <p>If you're ready to amplify your coding journey and explore the world of open source, visit our website <a href="https://kwoc.kossiitkgp.org/" style="color:#dddd">here</a> for more details and the Registration process.</p>
    <p>We believe that your passion for open source and past experience make you the perfect candidate to thrive in KWoC {year}. Join us in making this winter a season of growth, collaboration, and rewarding experiences.</p>
    <p>Looking forward to having you on board for KWoC {year}!</p>
</p>
