Congratulations on being one of the Top Contributors of Kharagpur Winter of Code 2024

<p style="margin-bottom: 1rem;">Dear Participant,</p>

<p style="margin-bottom: 1rem;">We're thrilled to inform you that you have achieved the distinction of being one of the top contributors in Kharagpur Winter of Code 2024. Your exceptional contributions have set a high standard for excellence.</p>

<p style="margin-bottom: 1rem;">This certificate of excellence is a testament to your outstanding dedication and skill. Your efforts have truly made a difference.</p>

<p style="margin-bottom: 1rem;">Please find your certificate here: <a style="color: #ddd;" href="https://github.com/kossiitkgp/public-files/tree/master/KWoC/{year}-Certificates/Top_Contributor/{username}.pdf">KWoC Certificate of Excellence</a></p>

<p style="margin-bottom: 1rem;">We eagerly look forward to your participation in KWoC next year as well!</p>